<div class="card m-3 d-flex justify-content-around">
  <button class="post-btn">
    <a href="/posts/{{id}}">
      <h3 class="h3 card-header text-center">
        <strong>{{title}}</strong>
      </h3>
    </a>
  </button>
  <div class="card-body">
    <p class="card-text text-ellipsis--2">{{content}}</p>
  </div>
  <div class="h6 card-footer d-flex justify-content-around">
    <button
      type="button"
      data="{{id}}"
      class="btn btn-primary btn-sm"
      id="update-post-btn"
    >
      Update
    </button>
    {{update-post-modal}}
    <button
      data-toggle="modal"
      data-target=".bd-example-modal-xl"
      type="button"
      data="{{id}}"
      class="btn btn-danger btn-sm"
      id="remove-post-btn"
    >
      Remove
    </button>
  </div>
</div>